table {
  width: 80%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px; /* Adds border-radius to the table */
  overflow: hidden; /* Ensures border-radius is applied */
  box-shadow: 0 0 0 1px black; /* Simulates border for cutouts */
}

th {
  background-color: skyblue; /* Sets background color for heading row */
  color: black;
}

tbody tr:nth-child(even) {
  background-color: grey; /* Sets background color for even rows */
}

tbody tr:nth-child(odd) {
  background-color: white; /* Sets background color for odd rows */
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
